<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="degreeTracker1Main.html">
    <widget-row ng-repeat="item in items" clickable ng-click="showDetails(item)">
        <widget-cell fill>
            <span class="itemName">{{item.title}}</span>
            <span ng-repeat="tag in item.tags" class="label label-success">
				{{tag}}
			</span>
        </widget-cell>
        <widget-cell>
            <widget-icon name="angle-right"></widget-icon>
        </widget-cell>
    </widget-row>
    <wr>
        <div class="ui-widget">
            <label for="tags">Tags: </label>
            <input id="tags">
        </div>
    </wr>
    <wr>
        <div class="progress" style="height: 15px; width: 90%; margin-left: 5%">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{first}}%"></div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{second}}%"></div>
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{third}}%"></div>
        </div>
    </wr>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="degreeTracker1Details.html">
    <!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
    <wr>
        <wc>
            <h2>{{detailsItem.title}}</h2></wc>
    </wr>

    <widget-row ng-repeat="req in detailsItem.requirements">
        <widget-cell>
            <input id="checkBox" type="checkbox" ng-model="checkbox.value" ng-change="checkboxChanged()"/> <!--Need to link checkboxes-->
        </widget-cell>
        <widget-cell fill clickable ng-click="showDetailDetails(req)">
            <span class="itemName">{{req.title}}</span>
        </widget-cell>
        <widget-cell>
            <widget-icon name="angle-right"></widget-icon>
        </widget-cell>
    </widget-row>
</script>


<script type="text/ng-template" id="degreeTracker1DetailDetails.html">
    <!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
    <wr>
        <wc>
            <h2>{{detailDetailsItem.title}}</h2></wc>
    </wr>
    <wr>
        <wc>
            <div class="pDetails">{{detailDetailsItem.description}}</div>
        </wc>
    </wr>
</script>

<script type="text/ng-template" id="degreeTracker1Config.html">
    <widget-row ng-repeat="item in items" clickable ng-click="showDetails(item)">
        <widget-cell fill>
            <span class="itemName">{{item.title}}</span>
            <span ng-repeat="tag in item.tags" class="label label-success">
				{{tag}}
			</span>
        </widget-cell>
        <widget-cell>
            <widget-icon name="angle-right"></widget-icon>
        </widget-cell>
    </widget-row>
</script>