<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="degreeTracker1Main.html" data-ng-init="init()">
    <widget-row ng-repeat="item in myPlans" clickable ng-click="showDetails(item)">
        <widget-cell fill>
            <span class="itemName">{{item.title}}</span>
        </widget-cell>
        <widget-cell>
            <widget-icon name="angle-right"></widget-icon>
        </widget-cell>
    </widget-row>
    <wr class="primary" clickable ng-click="goToConfig()">
        <wc fill>
            <span class="accent">Configure Plan</span>
        </wc>
        <wc>
            <widget-icon name="wrench"></widget-icon>
        </wc>
    </wr>

    <wr>
        <div class="progress" style="height: 20px; width: 90%; margin-left: 5%">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{first}}%">Major</div>
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{second}}%">Minor</div>
            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{third}}%">Required</div>
        </div>
    </wr>
</script>

<script type="text/ng-template" id="degreeTracker1Details.html">
    <wr>
        <wc>
            <h2>{{detailsItem.title}}</h2></wc>
    </wr>

    <widget-row ng-repeat="req in detailsItem.requirements">
        <widget-cell fill clickable>
            <label class="fill">
                <input id="req.checkBox" type="checkbox" ng-model="req.checkbox.value" ng-change="checkboxChanged(myCourses)" /> {{req.title}}</label>
        </widget-cell>
        <widget-cell clickable ng-click="showDetailDetails(req)">
            <widget-icon name="angle-right"></widget-icon>
        </widget-cell>
    </widget-row>
</script>


<script type="text/ng-template" id="degreeTracker1DetailDetails.html">
    <wr>
        <wc>
            <h2>{{detailDetailsItem.title}}</h2></wc>
    </wr>
    <wr>
        <wc>
            <div class="pDetails">{{detailDetailsItem.description}}</div>
        </wc>
    </wr>
</script>

<script type="text/ng-template" id="degreeTracker1Config.html">
    <wr>
        <div>
            <label for="tags">Search: </label>
            <input type="text" id="tags" ng-model="searchBox.title" />
            <widget-row ng-repeat="item in allPlans | filter: searchBox" clickable>
                <widget-cell fill>
                    <label class="fill">
                    <input id="item.checkBox" type="checkbox" ng-model="item.checkbox.value" ng-change="checkboxChanged()"/> {{item.title}}</label>
                </widget-cell>
            </widget-row>
        </div>
    </wr>
</script>